.DS_Store
**/xcuserdata/
**/xcshareddata/
Example/build/Debug-iphoneos/NWSTokenView/NWSTokenView.framework/Headers/NWSTokenView-Swift.h
Example/build/Debug-iphoneos/NWSTokenView/NWSTokenView.framework/Headers/NWSTokenView-umbrella.h
Example/build/Debug-iphoneos/NWSTokenView/NWSTokenView.framework/Modules/module.modulemap
Example/build/Debug-iphoneos/NWSTokenView/NWSTokenView.framework/Modules/NWSTokenView.swiftmodule/arm64.swiftdoc
Example/build/Debug-iphoneos/NWSTokenView/NWSTokenView.framework/Modules/NWSTokenView.swiftmodule/arm64.swiftmodule
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/all-product-headers.yaml
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/module.modulemap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/NWSTokenView-all-non-framework-target-headers.hmap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/NWSTokenView-all-target-headers.hmap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/NWSTokenView-generated-files.hmap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/NWSTokenView-own-target-headers.hmap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/NWSTokenView-project-headers.hmap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/NWSTokenView.hmap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/unextended-module-overlay.yaml
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/unextended-module.modulemap
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/DerivedSources/NWSTokenView_vers.c
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSToken.d
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSToken.dia
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSToken.o
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSToken.swiftdeps
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView-master.swiftdeps
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView-master.swiftdeps~moduleonly
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView-OutputFileMap.json
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView-Swift.h
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView.d
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView.dia
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView.o
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView.swiftdeps
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView.swiftdoc
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView.swiftmodule
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView~partial.swiftdoc
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSTokenView~partial.swiftmodule
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSToken~partial.swiftdoc
Example/build/Pods.build/Debug-iphoneos/NWSTokenView.build/Objects-normal/arm64/NWSToken~partial.swiftmodule
Example/build/XCBuildData/262a87ccdfcc0d5e4d9fd58f72fe048f-desc.xcbuild
Example/build/XCBuildData/262a87ccdfcc0d5e4d9fd58f72fe048f-manifest.xcbuild
Example/build/XCBuildData/af20f2705ce8a59d7c65c78e79bfdd4b-desc.xcbuild
Example/build/XCBuildData/af20f2705ce8a59d7c65c78e79bfdd4b-manifest.xcbuild
Example/build/XCBuildData/build.db
Example/build/XCBuildData/BuildDescriptionCacheIndex-e928b1f3a5ede4ba94875bea72dd05f3
